#unsplash-search-form {
    margin-bottom: 50px;
}

#unsplash-search-form label {
    font-size: 24px;
    margin-bottom: 10px;
}

#unsplash-search-form input[type=text] {
    font-size: 16px;
    height: 30px;
    margin-bottom: 10px;
    width: 200px;
}

.unsplash-overlay {
    display: none;
}

.unsplash-overlay.active {
    background: rgba(255,255,255,.7);
    color: #666666;
    display: block;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 5000;
    top: 0;
    left: 0;
    float: left;
    text-align: center;
    padding-top: 25%;
}

.unsplash-results-container {
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unsplash-image-result {
    width: auto;
    display: block;
}

.unsplash-pager {
    display: none;
    margin: 0 auto;
    width: 200px;
}

.unsplash-pager.active {
    display: block;
}

.unsplash-pager-item {
    font-size: 24px;
    margin: 0 auto;
    width: 49%;
}

.unsplash-pager-prev,
.unsplash-pager-next {
    display: none;
}

.unsplash-pager-prev.active,
.unsplash-pager-next.active {
    display: inline-block;
}