{#
/**
 * @file
 * Results of search made to Unsplash API.
 *
 * TODO: Remove the library attachment, add in in the build array instead.
 */
#}
{{ attach_library('media_image_unsplash/integration') }}
<div class="unsplash-results-container" data-prev="{{ rows.prev }}" data-next="{{ rows.next }}" data-query="{{ rows.query }}">
{% for row in rows.results %}
  <div class="unsplash-image-result" data-id="{{ row.id }}">
    <img src="{{ row.urls.sized }}" />
    <div class="unsplash-result-overlay">
      <div class="result-overlay-inner">
        <div class="photo-credit">
          <p>Photo Credit:</p>
          <p>Username: {{ row.user.username }}</p>
          <p>Name: {{ row.user.name }}</p>
          <input type="text" id="{{ row.id }}-title" name="Title" placeholder="Enter a title...">
          <input type="text" id="{{ row.id }}-alt" name="Alt" placeholder="Enter a alt text...">
        </div>
        <a class="unsplash-image-add" data-id="{{ row.id }}" href="#"><h4>Add Image</h4></a>
        <a class="unsplash-link full" href="{{ row.urls.full }}" target="_blank"><h4>View Full Image</h4></a>
      </div>
    </div>
  </div>
{% endfor %}
</div>