{#
/**
 * @file
 * Search form block. Created a block for this to do everything custom.
 */
#}
{{ attach_library('media_image_unsplash/integration') }}

<form name="Unsplash Search" id='unsplash-search-form'>
  <div>
    <label>
      Keyword
      <br />
    </label>
    <input id="unsplashKeyWord" class="textbox" type="text" name="unsplashKeyWord" required />
  </div>
  <input type="submit" value="Search" />
</form>
<div class="unsplash-overlay">
  <img src="{{ module_path }}/images/loader.gif" alt="Loading" /><br/>
  Loading...
</div>
<div id="unsplash-results"></div>
<div class="unsplash-pager">
    <a class="unsplash-pager-prev unsplash-pager-item" href="#">Prev</a>
    <a class="unsplash-pager-next unsplash-pager-item" href="#">Next</a>
</div>